<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    
    <div id="app">
      <svg width=800 height=600>
	<g v-for="(Y,i) in conf">
	  <rect v-for="(x,j) in Y"
		@click="change(i,j)"
		:x="j*50+200" :y="i*50+200" width=50 height=50
		:fill="x==0? 'white' : 'pink'" stroke="black">
	  </rect>
	</g>
	<g>
	  <rect
	    v-for="p in labelBoxX" :x="p*50+200" y=100 width=50 height=100 fill="yellow" stroke="black">
	  </rect>
	  <text v-for="p in labelBoxX" :x="p*50+100" y=100 style="font-size:24pt"></text>
	  <rect
	    v-for="p in labelBoxY" x=100 :y="p*50+200" width=100 height=50 fill="yellow" stroke="black">
	  </rect>	 
	</g>
	<g v-for="s,i in verticalsum" :transform="trans(i)"><text v-for="p,j in s" :y="-j*20">{{p}}</text></g>
	<g v-for="s,i in horizontalsum" :transform="transY(i)"><text v-for="p,j in s" :x="-j*20">{{p}}</text></g>
      </svg>
      <div>
	<button @click="message"> 完成 </button>
      </div>
      <div>
	<button @click="solve(0,0)"> 降参 </button>
      </div>
    </div>

    <script src="3pro.js"></script>
    
  </body>
</html>

